<mat-toolbar>
  <span><a class="branding" routerLink="/">BA</a></span>
  <span class="fill-space"></span>
  <nav layout-align="center end" class="pull-right">
    <ul>
      <li *ngIf="!isUserAuthenticated"><a routerLink="/register" routerLinkActive="menu-active">Register</a></li>
      <li *ngIf="!isUserAuthenticated"><a routerLink="/login" routerLinkActive="menu-active">Login</a></li>
      <li *ngIf="isUserAuthenticated"><a (click)="onLogout()">Logout</a></li>
    </ul>
  </nav>

</mat-toolbar>