#login-form {
    max-width: 340px;
    margin: 6rem auto;

    a {
        text-decoration: none;
        font-weight: 700;
        color: #3b71de;
        display: inline-block;
        margin: 10px 0;
    }
}

mat-spinner {
    max-width: 340px;
    margin: 6rem auto;
}

mat-form-field {
    width: 100%;
}

button {
    width: 100%;
}

.auth-helper {
    color: #fff;
    padding: 1rem 0 0 0;
    a {
        font-weight: 700;
        color: #3b71de;
        text-decoration: none;
    }
}