<div class="w3-container">
  <app-dashboard-navigation></app-dashboard-navigation>
  <form class="form-info" id="login-form" [formGroup]="loginUserForm" (ngSubmit)="onUserLogin()" autocomplete="on">
    <mat-form-field>
      <input type="email" formControlName="email" matInput placeholder="Email" minlength="6" autocomplete="on" required>
    </mat-form-field>
    <mat-form-field>
      <input type="password" formControlName="password" matInput placeholder="Password" minlength="8" required>
    </mat-form-field>
    <button type="submit" mat-flat-button color="primary" [disabled]="!loginUserForm.valid">Login</button>
    <!-- <a routerLink=".">Forgot password?</a> -->
    <div class="auth-helper">No account? <a routerLink="/register">Register</a></div>
  </form>
</div>