<div class="w3-container">
  <form class="form-info" id="register-form" [formGroup]="registerUserForm" (ngSubmit)="onUserRegister()" autocomplete="on">
    <mat-form-field>
      <input type="text" formControlName="userName" matInput placeholder="Username" required>
    </mat-form-field>
    <mat-form-field>
      <input type="email" formControlName="email" matInput placeholder="Email" required>
    </mat-form-field>
    <mat-form-field>
      <input type="password" formControlName="password" minlength="6" matInput placeholder="Password" autocomplete="off" required>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="!registerUserForm.valid">Register</button>
    <div class="auth-helper">Already have an account? <a routerLink="/login">Login</a></div>
  </form>
</div>