<div class="w3-container card-col">
  <div class="w3-panel">
    <mat-form-field color="primary" class="w3-right">
      <mat-label>Select Group</mat-label>
      <mat-select [(value)]="selected">
        <mat-option (click)="onSelectGroup('')" [value]="">All</mat-option>
        <mat-option (click)="onSelectGroup(league)" *ngFor="let league of leaguesList" [value]="league">
          {{league}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="w3-row">
    <div class="w3-card card w3-third" *ngFor="let sport of sports" 
      [routerLink]=[sport.key]>
      <p class="h5 w3-text-white w3-center">{{sport.title}}</p>
      <p>Group:</p>
      <p><span>{{sport.group}}</span></p>
      <p>Description:</p> 
      <p><span>{{sport.details}}</span></p>
    </div>
  </div>
</div>