
<nav class="navigation">
  <ul>
    <li routerLinkActive="active"><a routerLink="dashboard"><mat-icon svgIcon="dashboard" aria-hidden="false" aria-label="dashboard"></mat-icon> Dashboard</a></li>
    <li routerLinkActive="active"><a routerLink="tickets"><mat-icon svgIcon="tickets" aria-hidden="false" aria-label="tickets"></mat-icon> My Tickets</a></li>
    <li routerLinkActive="active"><a routerLink="profile"><mat-icon svgIcon="account-circle" aria-hidden="false" aria-label="account"></mat-icon> Profile</a></li>
    <li routerLinkActive="active"><a routerLink="leagues"><mat-icon svgIcon="list" aria-hidden="false" aria-label="leagues"></mat-icon> Leagues</a></li>
  </ul>
</nav>