
<nav class="navigation">
  <ul>
    <li routerLinkActive="active"><a routerLink="dashboard"><mat-icon svgIcon="dashboard" aria-hidden="false" aria-label="dashboard"></mat-icon><span class="w3-hide-small">Dashboard</span></a></li>
    <li routerLinkActive="active"><a routerLink="tickets"><mat-icon svgIcon="tickets" aria-hidden="false" aria-label="tickets"></mat-icon><span class="w3-hide-small">My Tickets</span></a></li>
    <li routerLinkActive="active"><a routerLink="profile"><mat-icon svgIcon="account-circle" aria-hidden="false" aria-label="account"></mat-icon><span class="w3-hide-small">Profile</span></a></li>
    <li routerLinkActive="active"><a routerLink="leagues"><mat-icon svgIcon="list" aria-hidden="false" aria-label="leagues"></mat-icon><span class="w3-hide-small">Leagues</span></a></li>
  </ul>
</nav>