.not-found {
    &-wrapper {
        padding: 2rem;
        max-width: 25rem;
        margin: 0 auto;

        span {
            display: inline-block;
            font-size: 10rem;
        }
    }
    &-ball {
        width: 8rem;
        height: 8rem;
        background: url('/assets/images/football.png') no-repeat;
        background-size: contain;
    }
}