<div class="w3-row">
  <div class="w3-container w3-quarter">
    <app-dashboard-navigation></app-dashboard-navigation>
  </div>

  <div class="w3-container w3-half card-col">
    <div class="w3-card card w3-half" *ngFor="let game of games">
      <p class="h5 w3-text-white" *ngFor="let team of game.teams">{{team}}</p>
      <mat-form-field>
        <mat-label>Booker</mat-label>
        <mat-select>
          <mat-option>None</mat-option>
          <mat-option *ngFor="let booker of game.sites" [value]="booker.key">{{booker.site_nice}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="w3-container w3-quarter"></div>
</div>