// Forms

::ng-deep {
    .mat-form-field {
        .mat-input-element {
            color: white;
        }
        .mat-form-field-label {
            color: #777;
        }
        .mat-form-field-underline {
            background-color: #132433;
        }
        .mat-form-field-ripple {
            background-color: white;
        }
    }

    .mat-flat-button.mat-primary[disabled] {
        color: rgba(255, 255, 255, 0.26);
    } 

    .card-col {
        padding: 2rem 1rem;
        margin-top: 7rem;
        @media screen and (min-width: 768px) {
            margin-top: 3rem;
            padding: 2rem 2rem 0 332px;
        }
    }

    /* Scrollbar */
    /* width */
    body::-webkit-scrollbar {
        width: .7em;
    }
    /* Track */
    ::-webkit-scrollbar-track {
        background: #101829; 
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #4974c4; 
    }
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #2b7fda; 
    }
}
