<div class="w3-container">
  <form *ngIf="!passReset" class="form-info" id="reset-password-form" [formGroup]="resetPasswordForm" (ngSubmit)="onresetPassword()" autocomplete="on">
    <mat-form-field>
      <input type="password" formControlName="password" minlength="6" matInput placeholder="Password" minlength="8" maxlength="255" required>
    </mat-form-field>
    <mat-form-field>
      <input type="password" formControlName="passwordConfirm" minlength="6" matInput placeholder="Confirm password" required>
    </mat-form-field>
    <div class="w3-panel" *ngIf="!passMatch"><p class="w3-text-red w3-center">Passwords do not match</p></div> 
    <button type="submit" mat-flat-button color="primary" [disabled]="!resetPasswordForm.valid">Save new password</button>
  </form>
  <div class="w3-panel w3-text-blue w3-center" *ngIf="passReset">Your password has been reset. Please <a routerLink="/login">login</a></div>
</div>