<div class="w3-container">
  <form class="form-info" id="forgot-password-form" [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotPassword()" autocomplete="on">
    <div class="w3-panel w3-text-blue w3-center" *ngIf="!resetTokenSent">Please enter your email so we can send password reset link</div>
    <mat-form-field>
      <input type="email" formControlName="email" matInput placeholder="Email" minlength="6" autocomplete="on" email required>
      <mat-error *ngIf="">Please enter a valid email address</mat-error>
    </mat-form-field>
    <div class="w3-panel w3-text-blue" *ngIf="resetTokenSent">Password reset link has been sent to the email you provided. Please check your inbox for further instructions</div>
    <button type="submit" mat-flat-button color="primary" [disabled]="!forgotPasswordForm.valid">Reset Password</button>
  </form>
</div>