<app-dashboard-navigation></app-dashboard-navigation>
<div class="w3-container">
  <div class="w3-quarter">
    <div class="w3-card w3-white">
      <img src="https://www.w3schools.com/w3css/img_avatar3.png" alt="Person">
      <div class="w3-container w3-center">
        <h4><strong>Ivan</strong></h4>
        <p>Ivan's short bio</p>
      </div>
    </div>
  </div>
  <div class="w3-quarter">
    <div class="w3-container">
      <h4 class="w3-center"><strong>Tickets</strong></h4>
      <div class="w3-card w3-white w3-container w3-margin-bottom">
        Ticket 1
      </div>
      <div class="w3-card w3-white w3-container w3-margin-bottom">
        Ticket 1
      </div>
      <div class="w3-card w3-white w3-container w3-margin-bottom">
        Add ticket
      </div>
      <a href="#" class="w3-center tickets-link">All Tickets</a>
    </div>
  </div>
  <div class="w3-half">
    <div class="w3-container">
      <h4 class="w3-center"><strong>Your wins graph graph</strong></h4>
    </div>
  </div>
</div>