.tickets-link {
    display: block;
    text-align: center;
}

.h5 {
    color: #2b7fda;
}

.card {
    padding: 1rem;
    margin-bottom: 1rem;

    p {
        color: #36507f;
    }

    span {
        color: #ccc;
    }
}

.card-col {
    padding: 2rem 1rem;
    margin-top: 7rem;
    @media screen and (min-width: 768px) {
        margin-top: 3rem;
        padding: 2rem 2rem 0 332px;
    }
}