<div class="w3-row">
  <div class="w3-container w3-quarter">
    <app-user-navigation></app-user-navigation>
  </div>
  <div class="w3-container card-col" *ngIf="userData">
    <h1 class="w3-center w3-text-white">Welcome {{userData.user.username}}</h1>
    <h4 class="w3-text-white">Tickets ({{userData.numberOfTickets}}) :</h4>
    <app-ticket *ngFor="let ticket of userData.tickets" [ticket]="ticket"></app-ticket>
    <a routerLink="/tickets" class="w3-btn  w3-large w3-border w3-border-indigo w3-hover-border-green w3-text-indigo w3-hover-text-green w3-right" title="Att tickets">All My Tickets</a>
  </div>
</div>